* {
    margin: 0;
    padding: 0;
    cursor: default;
}

a img {
    border: none;
}

body {
    background-image: url(img/grain.png);
    background-color: #f8fbfe;
    font-size: 12px;
}

button {
    cursor: pointer;
}

.welcome {
    background-color: #c7ecf3;
}

#list-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
}

#list li {
    position: relative;
    background-image: url(img/grain.png);
    display: block;
    padding: 10px;
    padding-bottom: 5px;
    background-color: #f8fbfe;
    border-bottom: #e6f0fa solid 1px;
}

#list li:nth-child(2n) {
    background-color: #fff;
}

.welcome #list-container {
    background: url(img/welcome.png) center no-repeat;
}

#bar {
    height: 30px;
    padding-top: 8px;
    padding-right: 16px;
    background: url(img/spritemap.png) top left repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#bar a {
    display: inline-block;
    float: right;
    width: 32px;
    height: 29px;
    margin-top: 1px;
    background-image: url(img/spritemap.png);
    vertical-align: top;
}

#bar span {
    display: inline-block;
    height: 25px;
    margin-top: 5px;
    background-image: url(img/spritemap.png);
    vertical-align: top;
}

#logo {
    width: 66px;
    background-position: -265px -133px;
}

#zusatz {
    width: 134px;
    background-position: -197px -164px;
}

#help {
    background-position: -299px -38px;
}

#help:hover {
    background-position: -299px -98px;
}

#comment {
    background-position: -267px -38px;
}

#comment:hover {
    background-position: -267px -98px;
}

#love {
    background-position: -235px -38px;
}

#love:hover {
    background-position: -235px -98px;
}

#list {
    padding: 0;
    margin: 0;
    display: block;
}

#add-more {
    border: none !important;
    height: 40px;
    /*background: url(img/more.png) center no-repeat !important;*/
    background: url(img/spritemap.png) bottom center no-repeat !important;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.6) url(img/notice.png) center no-repeat;
    display: none;
}

button {
    background: transparent;
    position: relative;
    top: -2px;
    border: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(img/spritemap.png);
    z-index: 2000;
}

.recompile {
    margin-left: 5px;
    background-position: -207px -97px;
    position: relative;
    top: 1px;
}

.recompile:hover {
    background-position: -186px -97px;
}

li .title {
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
    color: #3c3c3c;
}

li .remove {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 9px;
    height: 11px;
    /*background: url(img/delete.png) top left no-repeat;*/
    background: url(img/spritemap.png) -187px -203px no-repeat;
}

li .remove:hover {
    /*background-position: bottom left;*/
    background-position: -187px -214px;
}

li .source_file, li .target_file {
    display: block;
    padding-left: 12px;
    color: #9e9e9e;
}

li .source_file {
    /*background: url(img/in.png) top left no-repeat;*/
    background: url(img/spritemap.png) -321px -266px no-repeat;
    margin-bottom: 5px;
}

li .target_file {
    /*background: url(img/out.png) top left no-repeat;*/
    background: url(img/spritemap.png) -321px -283px no-repeat;
}

li .browse {
    display: inline-block;
    width: 15px;
    height: 10px;
    /*background: url(img/browse.png) top left no-repeat;*/
    background: url(img/spritemap.png) -184px -242px;
    margin-left: 5px;
    vertical-align: bottom;
}

li .browse:hover {
    /*background-position: bottom left;*/
    background-position: -184px -252px;
}

li .info {
    position: absolute;
    right: 10px;
    top: 37px;
    color: #527aa3;
    text-align: right;
    font-size: 12px;
}

li.success .info {
    color: #8cbb1c;
}

li.success .target_file {
    /*background-image: url(img/compiled.png);*/
    background: url(img/spritemap.png) -318px -317px no-repeat;
}

li.error .info {
    color: #fc2a24;
}
li.error .info b{
    color: #a11f1c;
}

li.error .target_file {
    /*background-image: url(img/error.png);*/
    background: url(img/spritemap.png) -322px -300px no-repeat;
    color: #fc2a24;
}

li .compilation_error {
    width: 57px;
    height: 17px;
    background: url(img/details.png);
    vertical-align: middle;
}

li .togglers {
    position: absolute;
    right: 10px;
    top: 57px;
}

li .togglers button {
    background: url('img/spritemap.png');
    height: 11px;
    margin-right: 2px;
}

li .togglers button:last-child {
    margin-right: 0;
}

li .togglers .prefixr {
    width: 29px;
    background-position: -151px -289px;
}

li .togglers .prefixr.active {
    background-position: -151px -300px;
}

li .togglers .minify {
    width: 28px;
    background-position: -182px -289px;
}

li .togglers .minify.active {
    background-position: -182px -300px;
}

li .togglers .love {
    width: 21px;
    background-position: -212px -289px;
}

li .togglers .love.active {
    background-position: -212px -300px;
}

li .constraints{
    color: #bbbbbb;
}